body{
    background-color: #FFFFFF;
}
h1{
    font-family: 'Bebas Neue', cursive ;
    line-height: 1;
    color: rgb(15, 15, 61);
    font-size: 50px;
}
.btn{
    font-family: 'Bebas Neue', cursive ;
    font-size: 20px;
    background-color: rgba(58, 11, 228, 0.918);
    padding: 10px 25px;
}
h3{
    font-family: 'Oswald', sans-serif;
    color:rgb(15, 15, 61);
}
.name-highlight , .price{
    color: #FA804C;
}
.nike{
    padding-top: 100px;
}
.price{
    padding-top: 20px;
    font-size: 35px;
}
.icon{
    font-size: 50px;
    color: rgb(34, 167, 230);
    background-color: white;
}